body{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

.choice{
    font-size: 40px;
    border-radius: 30%;
    padding: 5px;
    height: 100px;
    width: 100px;
    margin-right: 5px;
}

.choice:hover{
    border: 2px solid yellow;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}
#reset{
    border-radius: 20px;
    font-size: large;
    margin-top: 10px;
    padding: 5px;
}