body{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

.choice{
    font-size: 40px;
    border-radius: 30%;
    padding: 5px;
    height: 100px;
    width: 100px;
}

.choice:hover{
    border: 2px solid yellow;
}